*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
    font-family: 'Space Grotesk', sans-serif;
    color: black;
    padding: 12px;
    background-color: #1B191C;
}

.title {
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1px;
}

.text {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.container_block {
    padding: 40px;
}

.page_header {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header_description {
    max-width: 492px;
}

.header_title {
    margin-bottom: 24px;
}

.audioForm {
    display: flex;
}

.audio_input {
    padding-left: 16px;
    font-size: 24px;
    border: none;
    outline: none;
    width: 524px;
    height: 96px;
}

.audio_submit {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 96px;
    height: 96px;
    background-color: #F8D231;
    background-image: url('assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.header_audio {
    position: absolute;
    top: 171px;
    left: 644px;
}

.audio_title {
    font-size: 24px;
    margin-bottom: 20px;
}

.audio_back {
    width: 79px;
    height: 18px;
    cursor: pointer;
    background-image: url('assets/back.svg');
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.audio_player {
    width: 620px;
    height: 198px;
    background-color: #CFD3D6;
    padding: 20px 20px 22px 20px;
}

.player_button {
    cursor: pointer;
    margin-bottom: 50px;
}

.player_button img {
    width: 40px;
    height: 40px;
}

.player_progress {
    margin-bottom: 35px;
}

.player_progress input {
    width: 100%;
}

input[type="range"] {
    --range-progress: 0;
    /* ... */
}
  
input[type="range"]::before {
    background: black;
    width: var(--range-progress);
}

.player_bottom {
    display: flex;
    justify-content: space-between;
}

.player_time {
    display: flex;
    align-items: center;
}

.player_sound {
    display: flex;
    align-items: center;
    width: 252px;
}

.player_sound input {
    width: 100%;
}

.header_text {
    color: #1B191C;
    margin-bottom: 182px;
}

.header-info  {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.3px;
}

.header-info_terms {
    font-weight: 300;
}

.page_how {
    display: flex;
    gap: 36px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.how_description {
    color: #EEEEEE;
    width: 50%;
}

.how_img {
    width: 628px;
    height: 272px;
    background-image: url('assets/illustration.svg');
    background-repeat: no-repeat;
}

.description_title {
    margin-bottom: 40px;
}

.page_techReq {
    padding-bottom: 120px;
}

.techReq_title, label {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #F5F6F7;
}

.techReq_title {
    margin-bottom: 40px;
}

.tabs > input[type="radio"] {
    display: none;
}

.tab_content {
    margin-top: 44px;
    display: none;
}

#own_server_tab:checked ~ #tabs_block_own_server,
#amazon_instance_tab:checked ~ #tabs_block_amazon_instance,
#tab-btn-3:checked~#content-3 {
    display: block;
}

#own_server_tab:checked~.own_server_tab_label,
#amazon_instance_tab:checked~.amazon_instance_tab_label {
    color: #F5F6F7;
    border-bottom: 1px solid #EEEEEE;
}

.tabs > label {
    cursor: pointer;
    color: #CFD3D6;
}

.own_server_tab_label {
    margin-right: 16px;
}

.tabs_block-content {
    display: flex;
    gap: 56px;
}

.tabs_column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column_item {
    display: flex;
    border-bottom: 1px solid rgba(207, 211, 214, 0.1);
    color: #EEEEEE;
    padding-bottom: 12px;
}

.item_label {
    width: 38%;
}

.item_value {
    width: 62%;
}

@media (max-width: 1420px) {
    .page_how {
        flex-direction: column;
        padding-top: 40px;
    }
    
    .how_description {
        width: 100%;
    }
}

@media (max-width: 1320px) {
    .header_audio {
        position: static;
        margin-bottom: 40px;
    }

    .header_text {
        margin-bottom: 12px;
    }
}

@media (max-width: 740px) {
    .how_img {
        background-image: url('assets/mini_illustration.svg');
        height: 180px;
        width: 283px;
    }
    
    .title {
        font-size: 36px;
        line-height: 110%;
        letter-spacing: -0.4px;
    }

    .tabs_block-content {
        flex-direction: column;
        gap: 12px;
    }

    .tabs_column {
        width: 100%;
        gap: 12px;
    }

    .audio_input {
        width: 232px;
        height: 64px;
    }
    
    .audio_submit {
        width: 64px;
        height: 64px;
        background-image: url('assets/mini_arrow.svg');
    }
    
    .audio_player {
        width: 296px;
    }

    .player_sound {
        width: 191px;
    }
}

@media (max-width: 560px) {
    .column_item {
        flex-direction: column;
        gap: 12px;
    }
}

@media (max-width: 420px) {
    .container {
        padding: 0;
    }

    .container_block {
        padding-left: 12px;
        padding-right: 12px;
    }

    .item_label {
        width: 100%;
    }
    
    .item_value {
        width: 100%;
    }

    .amazon_instance_tab_label {
        display: inline-block;
        width: min-content;
    }

    .page_techReq {
        padding-bottom: 40px;
    }

    .container_block {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}