.header_player {
    position: absolute;
    top: 171px;
    left: 644px;
}

.audio_title {
    font-size: 24px;
    margin-bottom: 20px;
}

.audio_form {
    display: flex;
    margin-bottom: 8px;
}

.audio_input {
    padding-left: 16px;
    font-size: 24px;
    border: none;
    outline: none;
    width: 524px;
    height: 96px;
}

.audio_input-error {
    outline: 0.5px solid #F8D231;
    padding-left: 16px;
    font-size: 24px;
    border: none;
    width: 524px;
    height: 96px;
}

.error_msg {
    color: #C6A827;
    font-size: 12px;
}

.audio_submit {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 96px;
    height: 96px;
    background-color: #F8D231;
    background-image: url('../../assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.player_back {
    width: 79px;
    height: 18px;
    cursor: pointer;
    background-image: url('../../assets/back.svg');
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.player_display {
    width: 620px;
    height: 198px;
    background-color: #CFD3D6;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #2b2d42;
    cursor: pointer;
    width: 100%;
}

.player_progress input[type="range"] {
    --range-progress: 0;
}
  
.player_progress input[type="range"]::before {
    width: var(--range-progress);
}

.player_progress input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(white,white) 0/var(--range-progress) 100% no-repeat, #efefef;
}
  
input[type="range"]:focus {
    outline: none;
}
  
.player_progress input[type="range"]::-webkit-slider-runnable-track {
    background-color: #adacad;
    border-radius: 0px;
    height: 2px;
}
  
.player_progress input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #ffffff;
    border-radius: 6px;
    height: 12px;
    width: 16px;
}
  
input[type="range"]:focus::-webkit-slider-thumb {
    outline: none;
}
  
.player_progress input[type="range"]::-moz-range-track {
    background-color: #adacad;
    border-radius: 0px;
    height: 2px;
}
  
.player_progress input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    height: 12px;
    width: 16px;
}
  
input[type="range"]:focus::-moz-range-thumb{
    outline: none;
}
  
.player_progress input[type="range"]::before {
    width: var(--range-progress);
}

.player_sound input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(#384B5D,#384B5D) 0/var(--range-progress) 100% no-repeat, #efefef;
}

.player_sound input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 0px;
    height: 2px;
    width: 252px;
}

.player_sound input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #000000;
    border-radius: 0px;
    height: 12px;
    width: 16px;
}

.player_sound input[type="range"]::-moz-range-track {
    background-color: #ffffff;
    border-radius: 0px;
    height: 2px;
}

.player_sound input[type="range"]::-moz-range-thumb {
    background-color: #000000;
    border: none;
    border-radius: 0px;
    height: 12px;
    width: 16px;
}

.video_player {
    width: 620px;
    height: 348px;
    margin-bottom: -7px;
}

.player_loader {
    width: 100%;
    height: 3px;
    display: block;
    position: relative;
    background: #CFD3D6;
    overflow: hidden;
}

.player_loader::after {
    content: '';
    width: 192px;
    height: 3px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 600ms linear infinite;
    animation-delay: 1s;
}
  
@keyframes animloader {
    0% {
      left: 0;
      transform: translateX(-100%);
    }
    100% {
      left: 100%;
      transform: translateX(0%);
    }
}

.display_content {
    padding: 20px;
}
      